{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
      <script src="{% static 'wordcloud/d3.layout.cloud.js' %}"></script>
    <!-- Custom styles for this template -->
    <style>
    body {
  font-size: .875rem;
  font-family: 'Quicksand', sans-serif;
  max-width:100%;
  background-color: #D5E9ED ;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.sophiaGraphBorders{
  border:solid #0A53A0 medium; padding:1rem; border-radius:1rem; border-top-left-radius:0rem;border-top-right-radius:0rem; margin:0.5em;
overflow-y: scroll;
}
.sophiaGraphTitle{
  background-color:#0A53A0;color:white;padding:0.25rem;margin:-1rem;margin-bottom:1rem;text-transform:uppercase;
position: sticky; top:-1.5em;

}
.sophiaNavLink{
  padding:0.5em;
}
.sophiaNavLink:hover{
  background-color: #78CBF7;
  text-decoration:none;
}
#map{
  width: 100%;
  height:100%;
}
</style>
  </head>

  <body>

    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0" style="background-color:#0A53A0;text-transform: uppercase;margin:0">
      <div class="col-3"><a class="sophiaNavLink" style="color:white;font-size:1.5em;padding:0em" href="#">Scientific Discourse</a></div>
    <div class="col"> <a class="sophiaNavLink" style="color:white" href="#">Dashboard</a></div>
      <div class="col"><a class="sophiaNavLink" style="color:white" href="#">My Papers</a></div>
      <div class="col"><a class="sophiaNavLink" style="color:white" href="#">Buzzwords</a></div>
      <div class="col"><a class="sophiaNavLink" style="color:white" href="#">Posts</a></div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Username</a>
        </li>
      </ul>
    </nav>
    <div style="background-color:white;z-index:-1;position:absolute;margin-left:1%;margin-right:1%;min-height:100%;width:98%;">

    <div class="container">

        <main role="main" style="margin:2rem;margin-top:1rem">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="color:#0A53A0;">
            <h1 class="h2" style="text-transform:uppercase;font-size:2em">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
<div class="row">
  <div class="col sophiaGraphBorders">
    <div class="sophiaGraphTitle"><center>Key Words Over Time</center></div>
          <canvas class="my-4" id="keyWordsOverTime" width="800" height="300"></canvas>
        </div>
          <div class="col sophiaGraphBorders"style="max-height:24em">
<div class="sophiaGraphTitle"><center>How People Feel</center></div>
    <canvas class="my-4" id="sentimentScatter" width="800" height="300"></canvas>
    <p>Average sentiment: {{average_sentiment}}</p>

          </div>
</div>
<div class="row">
  <div class="col-5" style="margin:0;padding:0;">
  <div class="row sophiaGraphBorders" style="max-height:20em">
<div class="sophiaGraphTitle"><center>Headline Extracts</center></div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead style="text-transform:uppercase;">
      <tr>
        <th>Headline</th>
        <th>Source</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
        {% for title in titles %}
        <tr>
            <td> {{ title.0 }}</td>
            <td><a href ={{title.1}}>Link</a></td>
            <td>{{title.2.0}}</td>
        </tr>
        {% endfor %}

    </tbody>
  </table>
</div>
</div>
<div class="row sophiaGraphBorders" style="max-height:15em">
<div class="sophiaGraphTitle"><center>Top People Mentioned</center></div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead style="text-transform:uppercase;">
      <tr>
        <th>Person</th>
      </tr>
    </thead>
    <tbody>
        {% for person in people %}
            <tr>
                <td>{{person}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<div class="col sophiaGraphBorders">
<div class="sophiaGraphTitle"><center>Word Cloud</center></div>
<div id = "word-cloud"></div>

</div>
</div>
<div class="row">
<div class="col sophiaGraphBorders" style="height:30em;">
<div class="sophiaGraphTitle"><center>Locations</center></div>
<div id="map"></div>

</div>
</div>
        </main>
    </div>

    </div>
    <textarea width="100%" style="display:none">
     {{wordcloud}}
</textarea>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>

      var dates = {{time_series|safe}};

      var ctx = document.getElementById("keyWordsOverTime");
      var keyWordsOverTime = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sep","Oct","Nov","Dec","Jan"],
          datasets: [{
            label:"# of Keyword Mentions",
            data: [12,2,13,4,15,6,17,8,9,1,1,2,3],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#78CBF7',
            borderWidth: 4,
            pointBackgroundColor: '#78CBF7'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: true,
            labels:{

            }
          }
        }
      });

      var sentiment_data = [];
      var sentiment = {{sentiment|safe}}; 
      for (sent in sentiment) {
          sentiment_data.push({ x: sentiment[sent] , y:0})
      };
      var ctx = document.getElementById("sentimentScatter");
      var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Sentiment',
            data: sentiment_data,
            borderColor: '#78CBF7',
            borderWidth: 4,
            pointBackgroundColor: '#78CBF7'
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 0
                }
            }],
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 1
                }
            }]
        
        }
    }
});
    </script>

    <script>

function wordCloud(selector) {

var fill = d3.scale.category20();

var svg = d3.select(selector)
            .append("svg")
            .attr("width", 600)
            .attr("height", 400)
            .append("g")
            .attr("transform", "translate(300,200)");

function draw(words) {
  //Use the 'text' attribute (the word itself) to identity unique elements.
  var cloud = svg.selectAll("g text")
                  .data(words, function(d) { return d.text; })

  //Entering words
  cloud.enter()
        .append("text")
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr('font-size', 1)
        .text(function(d) { return d.text; });

  //Entering and existing words
  cloud.transition()
        .duration(600)
        .style("font-size", function(d) { return d.size + "px"; })
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .style("fill-opacity", 1);

  //Exiting words
  cloud.exit()
        .transition()
        .duration(200)
        .style('fill-opacity', 1e-6)
        .attr('font-size', 1)
        .remove();
}

return {
    //Recompute the word cloud for a new set of words. This method will
    // asycnhronously call draw when the layout has been computed.
    update: function(words) {
        d3.layout.cloud().size(["600", "400"])
            .words(words)
            .padding(5)
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function(d) { return d.size; })
            .on("end", draw)
            .start();
    }
}

}

//http://en.wikiquote.org/wiki/Opening_lines

//Remove punctation and repeated words. Compute a random
// size attribute for each word.
function getWords(words) {
function unique(value, index, self) {
    return value && self.indexOf(value) === index;
}

return words
        .replace(/[!\.,:;\?\]\[\(\)]/g, ' ')
        .split(' ')
        .filter(unique)
        .map(function(d) {
          return {text: d, size: 10 + Math.random() * 40};
        })
}

//Tell the word cloud to redraw with a new set of words.
//In reality the new words will probably come from a server request,
// user input or some other source.
function showNewWords(vis, i) {
i = i || 0;
var words = document.getElementsByTagName("textarea")[0].value;
vis.update(getWords(words))
setTimeout(function() { showNewWords(vis, i + 1)}, 4000)
}
var wordBox = document.getElementById("word-cloud");
var myWordCloud = wordCloud(wordBox);
showNewWords(myWordCloud);

</script>
<script>
function initMap(){
  var kihei = new google.maps.LatLng(20.764924, -156.444941);
  var honolulu = new google.maps.LatLng(21.327336, -157.857450);
  var lahaina = new google.maps.LatLng(20.883367,  -156.682807);
  var map = new google.maps.Map(document.getElementById('map'), {zoom: 8, center: kihei});
      var kiheiMarker = new google.maps.Marker({position: kihei, map: map});
      var honoluluMarker = new google.maps.Marker({position: honolulu, map: map});
      var lahainaMarker = new google.maps.Marker({position: lahaina, map: map});
}
google.maps.event.addDomListener(window, "load", initMap);
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA80wEVfNDR49oTo3yede1S6Nik_Lw6PyY&callback=initMap">
    </script>
  </body>
</html>
