{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}">
  <script src="https://kit.fontawesome.com/da2e6121ac.js" crossorigin="anonymous"></script>

</head>

<body>
    <p style = "float:left; margin-left: 1rem; margin-top: 1rem; color: azure; font-size: 20px;"> <i  class="fas fa-microscope fa-1x"></i> Gorgias </p>
  <section class="picture">
  <!-- Navigation 
  <nav class="navbar static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Gorgias</a>
    </div>
</nav> -->

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <h1 class="mb-5">See what people are saying about your career.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-12 mb-12 mb-md-0">

                <input onkeydown="search(this)" class="form-control form-control-lg" placeholder="Try your research field, institution, or name">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
      $(function() {
 $("input").keydown(function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
    }
 });
});
    function search(ele) {
        console.log('http://localhost:8000/dashboard/' + ele.value)
        if(event.key === 'Enter') {
            url = 'http://localhost:8000/dashboard/' + ele.value 
            window.location = url
    }
    }
  </script>
</body>

</html>
